@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    border: none;
    font-family: 'Poppins';
}

body {
    background-color: rgb(236, 236, 236);
}

.container {
margin-top: 135px;
}

:root {
    --primary: rgb(255, 37, 110);
    --clicked: rgb(247, 116, 159);
    --hover: rgb(209, 29, 89);
    --active: rgb(223, 65, 118);
    --clicked-hover:  rgb(224, 93, 137);
}

.number-container {
    font-weight: 800;
    font-size: 103.5px;
    color: var(--primary);
    text-align: center;
    text-shadow: 0 5px 10px rgb(0, 0, 0, 0.3);
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 55px;

}

.button {
    background-color: var(--primary);
    color: white;
    padding: 17px 70px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 30px;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 20px;
    margin-left: 20px;
    box-shadow: 0 5px 10px -3px rgb(0, 0, 0, 0.5);
    
}

.button:hover { 
    background-color: var(--hover);
    transition: 0.3s; 
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5), 0 7px 10px rgb(172, 43, 86) inset;
    transform: scale(1.04)
}

.button:active { background-color: var(--active); transition: 0.3s; box-shadow:  0 0 10px black,0 10px 10px rgb(185, 25, 78) inset;}

.button[disabled] {
    background-color: var(--clicked);
        transition: 0.3s;
}

.button[disabled]:hover {
    background-color: var(--clicked-hover);
        transition: 0.3s;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5), 0 7px 10px rgb(0, 0,0 ,0) inset;
}